//- about template 
extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- name
        h1 Jacob White

        //- job title
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- elevator pitch
        .portfolio-bio
          p
            | I have always felt that the conventional route of finding a career was not suited for me. Instead of trying to fit with the mold,
            | I decided to carve out my own path, and trade the college experience for life experiences. These experiences were a more 'boots on the ground'
            | method compared to the typical route. I plunged headfirst into constructing websites and programming Javascript apps with the help of the Treehouse
            | TechDegree. I learned what was the most useful, up to date, and best practice, by just putting myself out there and creating. And that expereince is
            | something a classroom cannot teach.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- my skills
        ul
          li HTML
          li CSS
          li Javascript
          li JQuery
          li Express
          li Node
          li Git
          li Client Side Javascript
          li Server Side JavaScript
          li Bash Terminal Commands
        h6 Contact Info

        //- contact information 
        ul
          li (850) 865-5014
          li jacobwhitedev@gmail.com

        //- social media accounts
        a.button.expanded(href='https://linkedin.com/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/jacoberick' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
