extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jacob White

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I have always felt that the conventional route of finding a career was not suited for me. Instead of trying to fit with the mold,
            | I decided to carve out my own path, and trade the college experience for life experiences. These experiences were a more 'boots on the ground'
            | method compared to the typical route. I plunged headfirst into constructing websites and programming Javascript apps with the help of the Treehouse
            | TechDegree. I learned what was the most useful, up to date, and best practice, by just putting myself out there and creating. And that expereince is
            | something a classroom cannot teach.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li Javascript
          li JQuery
          li Express
          li Node
          li Git
          li Client Side Javascript
          li Server Side JavaScript
          li Bash Terminal Commands
        h6 Contact Info

        //- Add your own contact info
        ul
          li (850)865-5014
          li jacobwhitedev@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://github.com/jacoberick') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
